<!--<div>
    <h1 class="text-center text-primary">{{ nombreRestaurante }}</h1>
    <a routerLink="/menu" class="btn">Ver Menú</a>
    <a routerLink="/calificar" class="btn">Calificar al Mesero</a>
    
  </div>-->
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/mariscos.jpg">
          <span class="card-title">MarAzul: Donde el Océano se Encuentra con los Andes</span>
        </div>
        <div class="card-content">
          <p>En el corazón vibrante de Quito, la capital ecuatoriana rodeada de montañas majestuosas, se encuentra un lugar que transporta a sus visitantes a las profundidades del océano: MarAzul. Este restaurante de mariscos no es solo un lugar para disfrutar de exquisitos platos del mar, sino también un oasis de frescura y tranquilidad en medio de la bulliciosa ciudad.
            La historia de MarAzul comenzó hace décadas, cuando una familia de pescadores de la costa ecuatoriana decidió llevar su amor por el mar a las alturas de los Andes. Con gran esfuerzo y dedicación, lograron establecer un pequeño rincón en Quito donde los sabores del Pacífico se mezclan con la hospitalidad andina.
            Cada plato en MarAzul cuenta una historia de tradición y cuidado. Los mariscos son cuidadosamente seleccionados de las aguas cristalinas de la costa ecuatoriana, asegurando frescura y calidad incomparables. Desde ceviches vibrantes hasta langostinos a la parrilla y pescados al vapor sazonados con hierbas andinas, cada bocado es una celebración de los sabores auténticos que Ecuador tiene para ofrecer.</p>
        </div>

      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/pezf.PNG">
          <span class="card-title">Marazul: Donde la Frescura del Mar se Une con la Excelencia Culinaria</span>
        </div>
        <div class="card-content">
          <p>En Marazul, nos enorgullece ofrecer una experiencia culinaria única que celebra la frescura y la exquisitez del mar. Situado en un entorno acogedor y elegante, nuestro restaurante está diseñado para transportarte a las costas más exuberantes del mundo mientras disfrutas de auténticos sabores marinos. Nuestro compromiso con la 
            calidad se refleja en cada plato, elaborado meticulosamente con ingredientes frescos y seleccionados con cuidado. Desde nuestra selección de mariscos frescos capturados diariamente hasta nuestras recetas innovadoras que fusionan tradiciones 
            culinarias con toques contemporáneos, cada bocado en Marazul es una celebración de los tesoros que el océano tiene para ofrecer.</p>
        </div>

      </div>
    </div>
  </div>
