<!--<div>
    <h1 class="text-center text-primary">{{ nombreRestaurante }}</h1>
    <a routerLink="/menu" class="btn">Ver Menú</a>
    <a routerLink="/calificar" class="btn">Calificar al Mesero</a>
    
  </div>-->
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/mariscos.jpg">
          <span class="card-title">MarAzul: Donde el Océano se Encuentra con los Andes</span>
        </div>
        <div class="card-content">
          <p>En el corazón vibrante de Quito, la capital ecuatoriana rodeada de montañas majestuosas, se encuentra un lugar que transporta a sus visitantes a las profundidades del océano: MarAzul. Este restaurante de mariscos no es solo un lugar para disfrutar de exquisitos platos del mar, sino también un oasis de frescura y tranquilidad en medio de la bulliciosa ciudad.
            La historia de MarAzul comenzó hace décadas, cuando una familia de pescadores de la costa ecuatoriana decidió llevar su amor por el mar a las alturas de los Andes. Con gran esfuerzo y dedicación, lograron establecer un pequeño rincón en Quito donde los sabores del Pacífico se mezclan con la hospitalidad andina.
            Cada plato en MarAzul cuenta una historia de tradición y cuidado. Los mariscos son cuidadosamente seleccionados de las aguas cristalinas de la costa ecuatoriana, asegurando frescura y calidad incomparables. Desde ceviches vibrantes hasta langostinos a la parrilla y pescados al vapor sazonados con hierbas andinas, cada bocado es una celebración de los sabores auténticos que Ecuador tiene para ofrecer.</p>
        </div>

      </div>
    </div>
  </div>
  <p>noooooo</p>
  <img href="../../../assets/logo.png" alt="aaa">