<div class="container">
  <form>
    <div>
      <div class="containera">
        <img src="../assets/logo.png" alt="s">
        <h1 class="titulo">MarAzul</h1>

      </div>

      <app-barra></app-barra>
      <router-outlet></router-outlet>

      <!--<app-informacion></app-informacion>-->
      <!--<app-impuestos></app-impuestos>-->
    </div>
  </form>
</div>

<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Más de nosotros</h5>
        <p class="grey-text text-lighten-4">
          Deliciosos platillos de comida marina. Los platos a base de cocina profesional y culposa al paladar.
          Diviértete en esta experiencia y no dudes en compartir tus opiniones o críticas.
        </p>
        <p>Escríbenos por nuestras redes sociales.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">X</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Tiktok</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright MarAzul
    </div>
  </div>
</footer>