.titulo {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.containera {
    display: flex;
    align-items: center; 
    gap: 30px; 
}


.containera img {
    width: 100px;
    height: auto;
}
