<div class="container">
  <h2>Pedido</h2>
</div>

<div class="container">
  <form  [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre del Producto</th>
          <th>Precio en $</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody formArrayName="items">
        <tr *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
          <td>{{ item.get('nombre')?.value }}</td>
          <td>{{ item.value.precio }}</td>
          <td>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="cantidad" min="0" required>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="waves-effect waves-light btn blue" style="margin-bottom: 5%; margin-top: 5%;">
      Enviar Pedido
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
