<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <h2>Menú</h2>
    <div class="col s12">
      <div *ngIf="menu && menu.length > 0">
        <div *ngFor="let item of menu">
          <div class="card">
            <div class="card-image">
              <img src="{{item.path}}">
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <span style="font-size: 200%; font-family: Verdana, Geneva, Tahoma, sans-serif;" class="card-title">{{item.name}}</span>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/Corvina-Frita.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span style="font-size: 200%; font-family: Verdana, Geneva, Tahoma, sans-serif;" class="card-title">Corvina
            Frita</span>
          <p>Un plato delicioso de pescado fresco, frito hasta quedar crujiente por fuera y jugoso por dentro, servido
            con rodajas de limón y acompañado de ensalada y patacones.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/pargo.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span style="font-size: 200%; font-family: Verdana, Geneva, Tahoma, sans-serif;" class="card-title">Pargo
            Especial</span>
          <p>Un pescado sabroso y tierno, generalmente preparado a la parrilla o al horno, sazonado con hierbas y
            especias, y servido con una guarnición de arroz y vegetales.</p>
        </div>
      </div>

    </div>
    <div class="col  s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/ceviche.jpg">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <span style="font-size: 200%; font-family: Verdana, Geneva, Tahoma, sans-serif;" class="card-title">Ceviche de
            camaron</span>
          <p>
            Un refrescante y delicioso platillo de camarones marinados en jugo de limón, mezclado con
            cebolla morada, cilantro, tomate y pimientos, servido frío.
          </p>
        </div>
      </div>
    </div>-->
  <!--
    <div *ngFor="let plato of menu">
        <h3>{{ plato.nombre }}</h3>
        <p>{{ plato.descripcion }}</p>
        <p>Precio: {{ plato.precio }}</p>
        <button (click)="agregarAlPedido(plato)">Agregar al Pedido</button>
    </div>  
    -->

</div>