<!--<div class="container">
  <h2>Calificar al Mesero</h2>
  <form (ngSubmit)="enviarCalificacion()">
    <div class="form-group">
      <label for="waiterName">Nombre del Mesero</label>
      <input type="text" id="waiterName" [(ngModel)]="waiterName" name="waiterName" required>
    </div>
    <div class="form-group">
      <label for="rating">Calificación</label>
      <input type="number" id="rating" [(ngModel)]="rating" name="rating" required>
    </div>
    <div class="form-group">
      <label for="comment">Comentario</label>
      <textarea id="comment" [(ngModel)]="comment" name="comment"></textarea>
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>-->
<br><br><br>
<div class="row">
  <h2>Calificar al Mesero</h2>
  <form class="col s12" (ngSubmit)="enviarCalificacion()" #cali="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input type="text" class="validate" id="waiterName" [(ngModel)]="waiterName" name="waiterName" required #mesero="ngModel">
        <label for="waiterName">Nombre del Mesero</label>
      </div>
      
      <div class="input-field col s6">
        <i class="material-icons prefix">star</i>
        <label for="rating">Calificación</label>
        <div style="margin-top: 5%; margin-left: 8%;">
          <input type="range" min="0" max="100" id="rating" [(ngModel)]="rating" name="rating" required #rate="ngModel">
          <span>{{ rating }}</span>
        </div>
      </div>
      <div class="input-field col s12">    
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="comment" [(ngModel)]="comment" name="comment" class="materialize-textarea"></textarea>
        <label for="comment">Comentario</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="cali.invalid">Enviar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>